@import url('https://fonts.googleapis.com/css?family=Cinzel|Raleway&display=swap');

$font-primary: Cinzel;
$font-secondary: Raleway;
$font-family: $font-secondary, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
