<div class="home">
  <section id="hero">
    <div class="home__carousel">
      Sliding text here that validates the vision of the company
    </div>
    <div class="home__hero">
      <div class="home__hero__content">
        <img alt="My image name" src="assets/images/trex.png">
        <div class="home__hero__content__description">
          <h1>Automation is the future.</h1>
          <p>Few more description here</p>
        </div>
      </div>
    </div>
  </section>
  <section id="information">
    <div class="home__information">
      Website pics that shows the functionalities available
    </div>
  </section>
  <section id="testimonials">
    <div class="home__testimonials">
      Testimonials/Reviews here
    </div>
  </section>
  <div id="contact">
    <div class="home__contact">
      <div>
        Reason why to contact bla bla
      </div>
      <div>
        fields here and submit button
      </div>
    </div>
  </div>
</div>
